.ImageSlider img {
  width: 50vw;

  border-radius: 10px;

  height: 400px;
}

.OurWork h2 {
  text-align: center;
  margin: 3em 0 1em 0;
}

.ImageSlider .fa-arrow-circle-left {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 2em;
  cursor: pointer;
}

.ImageSlider .fa-arrow-circle-right {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 2em;
  cursor: pointer;
}

.ImageSlider {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {

  .ImageSlider {
    height: 30vh;
  }

  .ImageSlider img {
    width: 70vw;
    height: 30vh;
  }

  .ImageSlider .fa-arrow-circle-left {
    left: 10px;
  }

  .ImageSlider .fa-arrow-circle-right {
    font-size: 2em;
    right: 10px;
  }
}
