@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito&family=Open+Sans&family=Roboto&display=swap');

.Navbar{
 display: flex;
 justify-content: space-between;
 margin-bottom: 1em ;
}

.Navbar h1{
 font-family:'Dancing Script', cursive;
 margin-left: 1em;
 margin-top: 0.5em;
}

.Navbar ul{
      list-style-type: none;  
}

.Navbar .NavbarList .ulList{
  display: flex;
}

.Navbar .NavbarList .ulList li{
 margin-right: 0.8em;
 margin-top: 1.2em;
 font-weight: 600;
}

.Navbar .NavbarList button{
 background:#b6c1ce;
 color: white;
 border: 1px solid #b6c1ce;
 width: 100px;
 border-radius: 3px;
 font-size: 1.1em;
}

.Menu  .ulListMenu{
  display: none;  
}   

.Menu  i{
  display: none
} 


@media (max-width:700px) {

  .Navbar{
    flex-direction: row-reverse;
  }

 .Navbar .NavbarList .ulList > .NavbarListLi{
 display: none;                         
}

.Menu  i{
      display: flex;
      position: absolute;
      top: 1em;
      left: 1em;
      margin: 0 auto;
      font-size: 1.5em;
 } 

 .Menu  .NavbarListMenu  {
     display: flex;
     flex-direction: column;  
     padding: 2em;
     margin: 0 auto;
 }

 .Menu{
       padding: 0.5em;  
 }

 .Navbar .NavbarList button{
      font-weight: 600;
     }
}



